<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="saurav.com.autisticapp">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_CALENDAR" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/spac"
        android:label="470Project"
        android:roundIcon="@drawable/spac"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="saurav.com.autisticapp.Expression.ExpressionTrain"></activity>
        <activity android:name="saurav.com.autisticapp.Expression.ExpressionShow" />
        <activity android:name="saurav.com.autisticapp.Expression.ExpressionSelect" />
        <activity android:name="saurav.com.autisticapp.Game2.GameEye2" />
        <activity android:name="saurav.com.autisticapp.Game2.GameRotate2" />
        <activity android:name="saurav.com.autisticapp.Game2.GameMemory2" />
        <activity android:name="saurav.com.autisticapp.Game2.GameFind2" />
        <activity android:name="saurav.com.autisticapp.Game2.GameTrain2" />
        <activity android:name="saurav.com.autisticapp.Game.GameRotate" />
        <activity android:name="saurav.com.autisticapp.Game.GameLetter" />
        <activity android:name="saurav.com.autisticapp.Game.GameMemory" />
        <activity android:name="saurav.com.autisticapp.Game.GameFind" />
        <activity android:name="saurav.com.autisticapp.Game.GameTrain" />
        <activity android:name="saurav.com.autisticapp.ActivityParentsAlbum2" />
        <activity android:name="saurav.com.autisticapp.ActivityGameSelect" />
        <activity android:name="saurav.com.autisticapp.ActivityGame" />
        <activity android:name="saurav.com.autisticapp.ActivityParentsAlbum" />
        <activity android:name="saurav.com.autisticapp.ActivityParents" />
        <activity android:name="saurav.com.autisticapp.ActivityExpressionShow" />
        <activity android:name="saurav.com.autisticapp.ActivityExpression" />
        <activity android:name="saurav.com.autisticapp.Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="saurav.com.autisticapp.MainActivity" />
        <activity android:name="saurav.com.autisticapp.ActivityParentsCapture" />
        <activity
            android:name="com.theartofdev.edmodo.cropper.CropImageActivity"
            android:theme="@style/Base.Theme.AppCompat" />
    </application>

</manifest>